nav(aria-label="breadcrumb")
  ol(class="breadcrumb mb-0" style='background-color: #22272e !important')
    li(class="breadcrumb-item")
      a(style='color: #8ab4f8' href="/") Home
    li(class="breadcrumb-item active" aria-current="page")=title

