div(class='sticky-top text-light w-100' style='background-color: #343a40; height: fit-content')
  nav(aria-label="breadcrumb")
    ol(class="breadcrumb my-0" style='background-color: inherit')
      li(class="breadcrumb-item")
        if title
          a(style='color: #8ab4f8' href="/") Home
        else 
          span Home
      if title
        li(class="breadcrumb-item active" aria-current="page")=title
      

