html
  head
    include head
  body
    div(style='text-align: center; margin: 2em .5em;')
    table(class='table' style='text-align:center')
      each character in characters
        tr
          td(style='text-align:left')
            a(href='/character/'+character.name)=character.name
          td=character.name