html
  include head
  body
    div(class='mt-5' style='text-align: center;')
      for val, key in chapters
        h5
          a(href='/title/'+val[0].slug)=key
        table(class='table mb-5 mt-3')
          each ch in val
            tr(style='text-align: left;')
              td
                span=ch.pov
                span=ch.suffix ? ' '+ch.suffix : ''
              td(style='text-align: right;')=ch.page