html
  include head
  body
    div(class='mt-5' style='text-align: center;')
      for val, key in chapters
        h5
          a(href='/title/'+key)=key.toUpperCase()
        table(class='table mt-3')
          each ch in val
            tr(style='text-align: left;')
              td(style='width: 70%')=ch.chapter
              td=ch.suffix
              td(style='text-align: right;')=ch.page