html
  head
    include head
  body
    div(style='text-align: center; margin: 2em .5em;')
    table(class='table' style='text-align:center')
      for val, key in characters
        tr(style='text-align:left')
          td
            a(href='/character/'+key.split(' ')[0])=key
          td
            each ch in val
              if key.indexOf(ch) < 0
                p=ch
            