html
  include head
  body(style='background-color: #22272e;')
    div(style='max-width: 980px; margin: auto;')
      include breadcrumb
      div(class='text-center')
        include chapters
    include footer
