html
  include head
  body
    div(class='mt-5' style='text-align: center;')
      for val, key in chapters
        h5
          a(href='/title/'+key)=key.toUpperCase()
        table(class='table')
          each chapter in val
            tr(style='text-align: left;')
              td(style='width: 100px')=chapter.name
              td=chapter.suffix
              td(style='text-align: right;')=chapter.page