head
  title Index of Ice and Fire
  link(
    rel='stylesheet'
    href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css'
    integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
    crossorigin='anonymous')
  link(rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/1089306346589007913/1092201324659089579/alicehccn_a_flaming_book_with_transparent_background_bbb5c70a-1066-4e8b-b1e6-233fef57f301.png")
  meta(name='viewport' content='width=device-width initial-scale=1.0')
