html
  head
    include head
  body
    div(class='mt-5')
      h1(class='page-header mb-5' style='text-align: center;') Houses of Westros
      each h in houses 
        h5(style='text-align: center')=h.lastname
