html
  include head
  body(style='background-color: #22272e')
    div(class='mt-5' style='max-width: 1080px; margin: auto; color: #d8d4cf')
      div(class='pl-3 mb-5')
        a(href='/houses') <<
      div(style='text-align: center;')
        h2=house.toUpperCase()
        p(class='mb-5')=words
        for chr, k in characters
          table(class='table mt-3' style='text-align: left;')
            tr
              td
                a(href='/character/' + k)=k
              td(style='text-align: right')
                each t in chr 
                  p
                    a(href='/title/' + t.slug)=t.title