html
  include head
  body
    div(class='mt-5')
      div(class='pl-3 mb-5')
        a(href='/houses') <<
      div(style='text-align: center;')
        h3(class='mb-5')=house.toUpperCase()
        for chr, k in characters
          table(class='table mt-3' style='text-align: left;')
            tr
              td(style='width: 40%')
                a(href='/character/' + k)=k
              td
                each chapter in chr 
                  p
                    a(href='/title/' + chapter.slug)=chapter.title