html
  head
    include head
  body
    div(class='mt-5' style='max-width: 1080px; margin: auto')
      h1(class='page-header mb-5' style='text-align: center;') Houses of Westros
      each h in houses 
        h5(style='text-align: center')
          a(href='/'+h.lastname+'/characters')=h.lastname
