div(class="modal d-block" tabindex="-1" role="dialog")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h3(class='text-center')=title
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          a(href='/title/adwd') close
        