html
  head
    include head
  body
    div(style='text-align: center; vertical-align: bottom;position: fixed; bottom: 0; width: 100%;')
      h1(class='page-header mb-5') Index of Ice and Fire
      table(class='table' style='text-align:left;')
        each title in titles
          tr
            td
              a(href='/title/'+title.slug)=title.title
            td(style='text-align:right;')=title.slug.toUpperCase()
