html
  include head
  body(style='background-color: #6c757d; color: #adbac7')
    include breadcrumb
    div(style='max-width: 980px; margin: auto;')
      if modalOpen 
        include modal
      table(class='table table-hover table-dark mb-5' style='color: #adbac7')
        each chp in chapters
          include chapter
    include footer
