html
  include head
  body
    div(class='mt-5')
      div(class='pl-3')
        a(href='/') <<
      div(style='text-align: center;')
        h5=title
      table(class='table mt-3')
        each ch in chapters
          tr(style='text-align: left;')
            td(style='width: 50%')
              a(href='/character/' + ch.character)=ch.pov
            td=ch.suffix
            td(style='text-align: right;')=ch.page
