html
  head
    include head
  body(style='background-color: #22272e; color: #adbac7')
    div(style='max-width: 980px; margin: auto')
      div(class='sticky-top py-4 pl-2 page-header text-center' style='background-color: #22272e; height: fit-content')
        h4 Index of Ice and Fire
      div(class='mb-5')
        for title, k in titles
          div(class='w-50' style='color: #adbac7; margin: auto; opacity: 0.8')
            a(href='/title/'+title.slug)
              img(src=title.image alt='Image by Midjourney' class='w-100 my-2')
    include footer
