html
  head
    include head
  body(style='background-color: #22272e; color: #adbac7')
    div(class='mt-5' style='max-width: 980px; margin: auto')
      h1(class='page-header mb-5 text-center') Index of Ice and Fire
      div(class='mt-5')
        for title, k in titles
          h5
            a(href='/title/'+k)=key
          table(class='table mt-3 table-dark text-left')
            tr
              td
                each ch in title
                  p
                    a(href='/character/'+ch.character)=ch.character
                    sup=ch.count
              td(class='align-middle text-right')
                a(href='/title/'+title[0].slug)=k